In [1]:
import numpy as np
import pandas as pd

In [10]:
mydata = pd.read_csv("Data/InternetMobileTime.csv")

In [0]:
mydata.describe()

          Minutes
count   30.000000
mean   175.266667
std    139.836834
min     24.000000
25%     72.000000
50%    144.000000
75%    276.000000
max    576.000000

In [0]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 1 columns):
Minutes    30 non-null int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [0]:
xbar = mydata.mean()

In [0]:
mu=144

In [0]:
s = mydata.std()

In [0]:
n=30

In [0]:
tstat = (xbar - mu) / (s/np.sqrt(n))

In [0]:
tstat

Minutes    1.224674
dtype: float64

In [0]:
from scipy import stats

p = stats.t.cdf(1.224674, df = 29)

In [0]:
(1-p)*2

0.23055340448360839

In [0]:
from scipy.stats import ttest_ind

In [12]:
#mydata = pd.read_csv("Data/Luggage.csv")

In [14]:
#mydata

In [0]:
#group1 = mydata['WingA']
#group2 = mydata['WingB']

In [13]:
#t_statistic, p_value = ttest_ind(group1, group2)
#print(t_statistic, p_value)

In [0]:
mydata = pd.read_csv("Data/CardioGoodFitness.csv")

In [0]:
mydata.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [0]:
male=mydata[mydata['Gender']=="Male"]["Miles"]
female=mydata[mydata['Gender']=="Female"]["Miles"]

In [0]:
t_statistic, p_value = ttest_ind(male, female)
print(t_statistic, p_value)

2.97827575798 0.0033030626949

In [0]:
from scipy.stats import chisquare, chi2_contingency

In [0]:
cont = pd.crosstab(mydata['Product'], mydata['Gender'])

In [0]:
cont

Gender   Female  Male
Product
TM195        40    40
TM498        29    31
TM798         7    33

In [0]:
chi2_contingency(cont)

(12.923836032388664,
 0.0015617972833158714,
 2,
 array([[ 33.77777778,  46.22222222],
        [ 25.33333333,  34.66666667],
        [ 16.88888889,  23.11111111]]))

In [0]:
chisquare(mydata['Product'].value_counts())

Power_divergenceResult(statistic=13.333333333333334, pvalue=0.0012726338013398079)